services:
  postgres:
    image: postgres:17-alpine
    container_name: psgr
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    networks:
      - dbnet
  
  adminer:
    image: adminer
    container_name: adminer
    ports:
      - 8080:8080
    networks:
      - dbnet
    depends_on:
      - postgres
  
  siteauto:
    build: ./siteauto
    container_name: siteauto
    restart: always
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    networks:
      - dbnet 
    volumes:
      - ./siteauto:/app/www/siteauto
      - ./db.json:/app/www/siteauto/db.json
    depends_on:
      - postgres


networks:
  dbnet:
    driver: bridge  
  
volumes:
  postgres_data: